{% extends 'base.html' %}
{% block content %}


<br><br>
<div class="container">
   
    <div class="card mb-3" >
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{ products.image.url }}" class="img-fluid rounded-start" alt="...">
            

          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ products.name }}</h5>
              <p class="card-text">{{ products.description }}</p><br>
                {% if products.is_sale %}
                <div class="badge bg-dark text-white position-absolute" style="top: 1rem; right: 0.5rem">Sale</div>
                    <strike>{{ products.price }}$</strike>
                    &nbsp;
                    {{ products.sale_price }}$<br>
                    ID:{{ products.id }}

                {% else %}

                    {{ products.price }}$<br>
                    ID:{{ products.id }}
                {% endif %}<br><br>
                <div class="row justify-content">
                  <div class="col-md-2">Quantity:</div>
                  <div class="col-md-2">
                <select class="form-select form-select-sm" id="qty_cart">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
                </div>
              </div><br><br>
                <button type="submit" class="btn btn-secondary">Buy Now</button>
                <button type="button" value="{{ products.id }}" class="btn btn-secondary" id="add-cart">Add To Cart</button>
            
            </div>
          </div>
        </div>
      </div>

    

</div>
<script>
  //check if button pressed
$(document).on('click','#add-cart',function(e){
  e.preventDefault();
  $.ajax({
    type:'POST',
    url :"{% url 'cart:cart_add'  %}",
    data : {
              product_id : $('#add-cart').val(),
              product_qty : $('#qty_cart option:selected').text(),
              csrfmiddlewaretoken :'{{ csrf_token }}',
              action : 'post'
    },
    success:function(json){
      // console.log(json)
      document.getElementById('cart_quantity').textContent=json.qty
    },
    error:function(xhr,errmsg,err){

    }
  });


})






</script>







{% endblock %}